# Large Datasets
datasets/

# Python Cache
__pycache__/
*.pyc

# IDE/Jupyter Notebooks
.ipynb_checkpoints/
.vscode/
.idea/

# LaTeX auxiliary files
*.aux
*.bcf
*.blg
*.lof
*.log
*.lot
*.run.xml
*.synctex.gz
*.toc
*.out

# Model Checkpoints
*.pth
